{% extends 'base.html' %}

{% block content %}
    
        <div class="row">
            <div class="col-md-12">
                <h2>Bazar</h2>

                <p><strong>uživatel - inzerát</strong><p>
                {% for polozka in zbrane_list %}
                {{ polozka.autor.username }} - {{ polozka.nazev }}
                <br>
                {% endfor %}
                <br><br>

                
                {% for polozka in zbrane_list %}
                <div class="animate__animated animate__fadein box_vypis_inz">
                    <div class="nadpis">
                        <h3><span id="tag">{{ polozka.typ }}</span><a href="{% url 'inz_detail' pk=polozka.pk %}">{{ polozka.nazev }}</a></h3>
                        <span class="inz_kontakt">Kategorie: {{ polozka.kategorie }} | {{ polozka.mesto }} | tel: {{ polozka.telefon }} </span>
                    </div>
                    <div class="obsah">
                        {% if polozka.image %}
                        <img src="/{{ polozka.image }}" width="180" height="auto" style="float:left; margin:0 15px 0 0;">
                        {% endif %}
                        <span>{{ polozka.popis|truncatechars:350 }}</span>
                    </div>
                    <div class="box_cena">
                        <span class="cena">Cena: {{ polozka.cena }} </span><br/>
                        <span class="vytvoreno">(inzerát vložen {{ polozka.vytvoreno }})</span>
                    </div>
                </div>
                {% if forloop.counter == 2 %}
                    <p>reklamní kontejner 1 </p>
                {% endif %}

                {% if forloop.counter == 4 %}
                    <p>reklamní kontejner 2 </p>
                {% endif %}

                {% endfor %}     
                
                <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?page=1">&laquo; první</a>
                            <a href="?page={{ page_obj.previous_page_number }}">předchozí</a>
                        {% endif %}
                       
                        <span class="current">
                            Strana {{ page_obj.number }} z {{ page_obj.paginator.num_pages }}
                        </span>
                
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">následující</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}">poslední &raquo;</a>
                        {% endif %}
                    </span>
                </div>       
            </div>
        </div>

{% endblock content %}